@{
    ViewData["Title"] = "Home";
}


<section class="cta section">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
                Stop waiting.
                <br />
                Clean Up.
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" asp-controller="Home" asp-action="Company" >Learn More</a>
            <br />
           
        </div>
    </div>
</section>





